:root {
    --color-background:#F0F2F6;
    --color-background-nav:#CDC9C9;
    --color-background-home:#CDC9C9;
    --color-text-light:hsl(0, 100%, 100%);
    --color-text-dark:#0a0a0a;
  }

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;

  }

  html,
  body{
      background-color:var(--color-background);
  }

  a{text-decoration: nome;
transition: 0.2s opacity;  
}

  
  a:hover{
opacity: 0.8;
  }


.container{
    width: 90%;
}

main {
    width: 100%;
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

h1{

    color: var(--color-text-dark);
    margin: 40px 0;
    font-size:  30px;
}